# 
<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

<img src=https://i.ibb.co/wJW61Y2/Used-cars.jpg width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">The Capstone Project of Data Analytics Module</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Car Price Prediction EDA</p>

## Introduction
Welcome to "***AutoScout Data Analysis Project***". This is the capstone project of ***Data Analysis*** Module. **Auto Scout** data which using for this project, scraped from the on-line car trading company in 2019, contains many features of 9 different car models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using many Python libraries such as Numpy, Pandas, Matplotlib, Seaborn, Scipy you will analyze clean dataset.

### Some Reminders on Exploratory data analysis (EDA)

Exploratory data analysis (EDA) is an especially important activity in the routine of a data analyst or scientist. It enables an in depth understanding of the dataset, define or discard hypotheses and create predictive models on a solid basis. It uses data manipulation techniques and several statistical tools to describe and understand the relationship between variables and how these can impact business. By means of EDA, we can obtain meaningful insights that can impact analysis under the following questions (If a checklist is good enough for pilots to use every flight, it’s good enough for data scientists to use with every dataset).
1. What question are you trying to solve (or prove wrong)?
2. What kind of data do you have?
3. What’s missing from the data?
4. Where are the outliers?
5. How can you add, change or remove features to get more out of your data?

**``Exploratory data analysis (EDA)``** is often an **iterative brainstorming process** where you pose a question, review the data, and develop further questions to investigate before beginning model development work. The image below shows how the brainstorming phase is connected with that of understanding the variables and how this in turn is connected again with the brainstorming phase.<br>

<img src=https://i.ibb.co/k0MC950/EDA-Process.png width="300" height="100">

[Image Credit: Andrew D.](https://towardsdatascience.com/exploratory-data-analysis-in-python-a-step-by-step-process-d0dfa6bf94ee)

**``In this context, the project consists of 3 parts in general:``**
* **The first part** is related to 'Data Cleaning'. It deals with Incorrect Headers, Incorrect Format, Anomalies, and Dropping useless columns.
* **The second part** is related to 'Filling Data', in other words 'Imputation'. It deals with Missing Values. Categorical to numeric transformation is done as well.
* **The third part** is related to 'Handling Outliers of Data' via Visualization libraries. So, some insights will be extracted.

**``NOTE:``**  However, you are free to create your own style. You do NOT have to stick to the steps above. We, the DA & DV instructors, recommend you study each part separately to create a source notebook for each part title for your further studies.

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Importing Related Libraries</p>

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
from scipy import stats
from scipy.stats.mstats import winsorize

import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

%matplotlib inline
# %matplotlib notebook

plt.rcParams["figure.figsize"] = (10,6)
# plt.rcParams['figure.dpi'] = 100

sns.set_style("whitegrid")
pd.set_option('display.float_format', lambda x: '%.3f' % x)

pd.options.display.max_rows = 1000
pd.options.display.max_columns = 150

C:\Users\sarin\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

# PART- 2 `( Handling With Missing Vales )`

In [227]:
df = pd.read_csv("clean_scout.csv")
df.sample(3).T

,6191,13546,15162
make_model,Opel Astra,Renault Clio,Renault Espace
body_type,Station wagon,Station wagon,Van
price,9500,7999,21990
vat,VAT deductible,NaN,VAT deductible
km,30519.0,110003.0,97506.0
Type,Used,Used,Used
Fuel,Benzine,Diesel,Diesel
Comfort & Convenience,"Air conditioning,Power windows","Air conditioning,Cruise control,Electrical sid...",Sunroof
Entertainment & Media,NaN,"Bluetooth,CD player,Hands-free equipment,MP3,O...",NaN
Extras,NaN,"Alloy wheels,Roof rack",NaN
Safety & Security,"ABS,Central door lock,Electronic stability con...","ABS,Central door lock with remote control,Driv...",NaN
Gears,5.0,5.0,NaN
Previous_Owners,NaN,1.0,NaN
hp_kW,74.0,66.0,118.0
Paint_Type,Metallic,Metallic,NaN
Upholstery_type,NaN,Cloth,NaN
Nr_of_Doors,4.0,5.0,5.0
Nr_of_Seats,5.0,5.0,NaN
Gearing_Type,Manual,Manual,Automatic
Displacement_cc,1398.0,1461.0,NaN
Weight_kg,NaN,1260.0,NaN
Drive_chain,front,front,NaN
cons_comb,5.5,3.3,4.6
CO2_Emission,127.0,85.0,NaN
Emission_Class,Euro 6,Euro 6,NaN

In [228]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   make_model             15919 non-null  object
 1   body_type              15859 non-null  object
 2   price                  15919 non-null  int64
 3   vat                    11406 non-null  object
 4   km                     14895 non-null  float64
 5   Type                   15917 non-null  object
 6   Fuel                   15919 non-null  object
 7   Comfort & Convenience  14999 non-null  object
 8   Entertainment & Media  14545 non-null  object
 9   Extras                 12957 non-null  object
 10  Safety & Security      14937 non-null  object
 11  Gears                  11207 non-null  float64
 12  Previous_Owners        9279 non-null   float64
 13  hp_kW                  15831 non-null  float64
 14  Paint_Type             10147 non-null  object
 15  Upholstery_type        11048 non-null  object
 16  Nr_of_Doors            15707 non-null  float64
 17  Nr_of_Seats            14942 non-null  float64
 18  Gearing_Type           15919 non-null  object
 19  Displacement_cc        15423 non-null  float64
 20  Weight_kg              8945 non-null   float64
 21  Drive_chain            9061 non-null   object
 22  cons_comb              13886 non-null  float64
 23  CO2_Emission           13483 non-null  float64
 24  Emission_Class         12291 non-null  object
dtypes: float64(10), int64(1), object(14)
memory usage: 3.0+ MB

In [229]:
df.isna().sum() / df.shape[0]*100

make_model                0.000000
body_type                 0.376908
price                     0.000000
vat                      28.349771
km                        6.432565
Type                      0.012564
Fuel                      0.000000
Comfort & Convenience     5.779257
Entertainment & Media     8.631195
Extras                   18.606696
Safety & Security         6.168729
Gears                    29.599849
Previous_Owners          41.711163
hp_kW                     0.552799
Paint_Type               36.258559
Upholstery_type          30.598656
Nr_of_Doors               1.331742
Nr_of_Seats               6.137320
Gearing_Type              0.000000
Displacement_cc           3.115774
Weight_kg                43.809285
Drive_chain              43.080596
cons_comb                12.770903
CO2_Emission             15.302469
Emission_Class           22.790376
dtype: float64

## Functions

In [230]:
def infos(df, x):
    print("Column name  :  "+x)
    print("-----------------------------")
    print("Number of nulls  :  "+str(df[x].isna().sum()))
    print("% of nulls       :  "+str(round(df[x].isna().sum()/df.shape[0]*100,2))+"%")
    print("Number of uniques:  "+str(df[x].nunique()))
    print("-----------------------------\nValue Counts\n")
    print(df[x].value_counts(dropna=False))

In [231]:
def fill_mode(df, g, c):
    df[c] = df[c].fillna(df.groupby(g)[c].transform(lambda x: x.mode()[0]))
    print("Number of NaN :",df[c].isna().sum())
    print("---------------------")
    print(df[c].value_counts(dropna=False))

In [232]:
def fill_mode2(df, col1, col2, x):
    for g1 in list(df[col1].unique()):
        for g2 in list(df[col2].unique()):
            cond1 = df[col1] == g1
            cond2 = df[col2] == g2
            try:
                df.loc[cond1&cond2, x] = df.loc[cond1&cond2, x].fillna(df[cond1&cond2][x].mode()[0])
            except:
                df.loc[cond1, x] = df.loc[cond1, x].fillna(df[cond1][x].mode()[0])
    
    print("Number of NaN : ",df[x].isna().sum())
    print("------------------")
    print(df[x].value_counts(dropna=False))

In [233]:
df["Weight_kg"].isna().sum() == 6973

False

In [234]:
def fill_mean(df, col1, col2, x):
    df[x].fillna(df.groupby([col1,col2])[x].transform("mean"), inplace=True)
    if df[x].isna().sum() != 0:
        df[x].fillna(df.groupby(col2)[x].transform("mean"), inplace=True)
    print("Number of NaN : ",df[x].isna().sum())
    print("------------------")
    print(df[x].value_counts(dropna=False))

## Handling with Categorical Features

In [235]:
categoric = [i for i in df.columns if df[i].dtype == "object"]
dfc = df[categoric]

In [236]:
dfc.isna().sum()

make_model                  0
body_type                  60
vat                      4513
Type                        2
Fuel                        0
Comfort & Convenience     920
Entertainment & Media    1374
Extras                   2962
Safety & Security         982
Paint_Type               5772
Upholstery_type          4871
Gearing_Type                0
Drive_chain              6858
Emission_Class           3628
dtype: int64

### body_type

In [237]:
infos(dfc,"body_type")

Column name  :  body_type
-----------------------------
Number of nulls  :  60
% of nulls       :  0.38%
Number of uniques:  9
-----------------------------
Value Counts

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [238]:
dfc.body_type.replace("Other", np.nan,inplace=True)

In [239]:
fill_mode(dfc, "make_model", "body_type")

Number of NaN : 0
---------------------
Sedans           8005
Station wagon    3678
Compact          3242
Van               817
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

### Type

In [240]:
infos(dfc,"Type")

Column name  :  Type
-----------------------------
Number of nulls  :  2
% of nulls       :  0.01%
Number of uniques:  5
-----------------------------
Value Counts

Used              11096
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
NaN                   2
Name: Type, dtype: int64

In [241]:
df[df["Type"].isna()].T

,2765,5237
make_model,Audi A3,Audi A3
body_type,Sedans,Sedans
price,17900,25400
vat,NaN,NaN
km,115137.0,NaN
Type,NaN,NaN
Fuel,Diesel,Diesel
Comfort & Convenience,Air conditioning,Air conditioning
Entertainment & Media,"Bluetooth,Hands-free equipment","Bluetooth,Hands-free equipment"
Extras,"Alloy wheels,Sport seats,Sport suspension",Alloy wheels
Safety & Security,"ABS,Central door lock,Driver-side airbag,Isofi...","ABS,Central door lock,Driver-side airbag,Isofi..."
Gears,6.0,7.0
Previous_Owners,NaN,NaN
hp_kW,110.0,85.0
Paint_Type,NaN,NaN
Upholstery_type,Cloth,Cloth
Nr_of_Doors,5.0,5.0
Nr_of_Seats,5.0,5.0
Gearing_Type,Automatic,Automatic
Displacement_cc,1968.0,1598.0
Weight_kg,NaN,NaN
Drive_chain,front,front
cons_comb,4.5,3.9
CO2_Emission,118.0,103.0
Emission_Class,Euro 6,Euro 6

In [242]:
dfc.loc[(dfc["Type"].isna() == True)&(df.km>200), "Type"] = "Used"
dfc.loc[(dfc["Type"].isna() == True)&(df.km<=200), "Type"] = "New"

In [243]:
df["Type"].dropna(how=all)

0                  Used
1                  Used
2                  Used
3                  Used
4                  Used
              ...
15914               New
15915              Used
15916    Pre-registered
15917    Pre-registered
15918     Demonstration
Name: Type, Length: 15917, dtype: object

In [244]:
infos(dfc,"Type")

Column name  :  Type
-----------------------------
Number of nulls  :  1
% of nulls       :  0.01%
Number of uniques:  5
-----------------------------
Value Counts

Used              11097
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
NaN                   1
Name: Type, dtype: int64

### Paint_Type

In [245]:
infos(dfc, "Paint_Type")

Column name  :  Paint_Type
-----------------------------
Number of nulls  :  5772
% of nulls       :  36.26%
Number of uniques:  3
-----------------------------
Value Counts

Metallic       9794
NaN            5772
Uni/basic       347
Perl effect       6
Name: Paint_Type, dtype: int64

In [246]:
fill_mode2(dfc, "make_model", "body_type", "Paint_Type")

Number of NaN :  0
------------------
Metallic       15549
Uni/basic        364
Perl effect        6
Name: Paint_Type, dtype: int64

### vat

In [247]:
dfc.vat = df.vat

In [248]:
infos(dfc, "vat")

Column name  :  vat
-----------------------------
Number of nulls  :  4513
% of nulls       :  28.35%
Number of uniques:  2
-----------------------------
Value Counts

VAT deductible      10980
NaN                  4513
Price negotiable      426
Name: vat, dtype: int64

In [249]:
dfc.vat.fillna("Non-Discount", inplace=True)
infos(dfc, "vat")

Column name  :  vat
-----------------------------
Number of nulls  :  0
% of nulls       :  0.0%
Number of uniques:  3
-----------------------------
Value Counts

VAT deductible      10980
Non-Discount         4513
Price negotiable      426
Name: vat, dtype: int64

In [250]:
dfc.isna().sum()

make_model                  0
body_type                   0
vat                         0
Type                        1
Fuel                        0
Comfort & Convenience     920
Entertainment & Media    1374
Extras                   2962
Safety & Security         982
Paint_Type                  0
Upholstery_type          4871
Gearing_Type                0
Drive_chain              6858
Emission_Class           3628
dtype: int64

### Upholstery

In [251]:
infos(dfc, "Upholstery_type")

Column name  :  Upholstery_type
-----------------------------
Number of nulls  :  4871
% of nulls       :  30.6%
Number of uniques:  5
-----------------------------
Value Counts

Cloth           8423
NaN             4871
Part leather    1499
Full leather    1009
Velour            60
alcantara         57
Name: Upholstery_type, dtype: int64

In [252]:
fill_mode2(dfc, "make_model", "body_type", "Upholstery_type")

Number of NaN :  0
------------------
Cloth           12890
Part leather     1505
Full leather     1407
Velour             60
alcantara          57
Name: Upholstery_type, dtype: int64

### Comfort & Convenience

In [253]:
infos(dfc, "Comfort & Convenience")

Column name  :  Comfort & Convenience
-----------------------------
Number of nulls  :  920
% of nulls       :  5.78%
Number of uniques:  6198
-----------------------------
Value Counts

NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  920
Air conditioning,Electrical side mirrors,Hill Holder,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                   216
Air conditioning,Electrical side mirrors,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                               134
Air conditioning,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                                                       130
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Start-stop system                                                                                                                                                   105
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ...
Air conditioning,Cruise control,Electrical side mirrors,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors rear,Power windows,Rain sensor,Split rear seats,Start-stop system,Tinted windows                                                                                                                                                                                                           1
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Heated steering wheel,Hill Holder,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system camera,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Sunroof                                                                                                1
Air conditioning,Armrest,Cruise control,Electrical side mirrors,Heated steering wheel,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Park Distance Control,Parking assist system camera,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Split rear seats,Start-stop system,Tinted windows                                                                                                                 1
Air conditioning,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Light sensor,Multi-function steering wheel,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating                                                                                                                                                                                                                1
Air conditioning,Automatic climate control,Cruise control,Electrically heated windshield,Electrical side mirrors,Electric tailgate,Heads-up display,Heated steering wheel,Hill Holder,Keyless central door lock,Leather steering wheel,Light sensor,Lumbar support,Navigation system,Park Distance Control,Parking assist system camera,Parking assist system self-steering,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Sunroof      1
Name: Comfort & Convenience, Length: 6199, dtype: int64

In [254]:
fill_mode2(dfc, "make_model", "body_type", "Comfort & Convenience")

Number of NaN :  0
------------------
Air conditioning,Electrical side mirrors,Hill Holder,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                   389
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Start-stop system                                                                                                                                                   187
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrically adjustable seats,Electrical side mirrors,Electric tailgate,Heated steering wheel,Hill Holder,Keyless central door lock,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system camera,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Start-stop system          161
Air conditioning,Automatic climate control,Cruise control,Multi-function steering wheel,Park Distance Control,Power windows                                                                                                                                                                                                                                                                                                                                                                          160
Air conditioning,Electrical side mirrors,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                               134
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ...
Air conditioning,Cruise control,Electrical side mirrors,Multi-function steering wheel,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Start-stop system                                                                                                                                                                                                                                                                                     1
Air conditioning,Armrest,Cruise control,Electrical side mirrors,Heated steering wheel,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Park Distance Control,Parking assist system camera,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Split rear seats,Start-stop system,Sunroof,Tinted windows                                                                                                                                             1
Air conditioning,Armrest,Cruise control,Hill Holder,Leather steering wheel,Multi-function steering wheel,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows                                                                                                                                                                                                                                                                                    1
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Multi-function steering wheel,Power windows,Rain sensor,Start-stop system,Tinted windows                                                                                                                                                                                                                                                                                              1
Air conditioning,Automatic climate control,Cruise control,Electrically heated windshield,Electrical side mirrors,Electric tailgate,Heads-up display,Heated steering wheel,Hill Holder,Keyless central door lock,Leather steering wheel,Light sensor,Lumbar support,Navigation system,Park Distance Control,Parking assist system camera,Parking assist system self-steering,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Sunroof      1
Name: Comfort & Convenience, Length: 6198, dtype: int64

### Entertainment & Media

In [255]:
infos(dfc, "Entertainment & Media")

Column name  :  Entertainment & Media
-----------------------------
Number of nulls  :  1374
% of nulls       :  8.63%
Number of uniques:  346
-----------------------------
Value Counts

NaN                                                                                                 1374
Bluetooth,Hands-free equipment,On-board computer,Radio,USB                                          1282
Bluetooth,Hands-free equipment,MP3,On-board computer,Radio,USB                                       982
Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio,USB                             783
On-board computer,Radio                                                                              487
                                                                                                    ...
Bluetooth,CD player,Digital radio,Hands-free equipment,Radio                                           1
CD player,Hands-free equipment,MP3,Radio,USB                                                           1
MP3,Radio,Sound system,USB                                                                             1
Bluetooth,MP3,On-board computer,Radio,Television,USB                                                   1
Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio,Sound system,Television,USB       1
Name: Entertainment & Media, Length: 347, dtype: int64

In [256]:
fill_mode2(dfc, "make_model", "body_type", "Entertainment & Media")

Number of NaN :  0
------------------
Bluetooth,Hands-free equipment,On-board computer,Radio,USB                      1742
Bluetooth,Hands-free equipment,MP3,On-board computer,Radio,USB                  1138
Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio,USB        1010
On-board computer                                                                611
Radio                                                                            558
                                                                                ...
Bluetooth,CD player,MP3                                                            1
CD player,USB                                                                      1
Bluetooth,CD player,Digital radio,Radio,USB                                        1
Bluetooth,CD player,Digital radio,MP3,On-board computer,Radio,Television,USB       1
Hands-free equipment,On-board computer,Radio,Sound system                          1
Name: Entertainment & Media, Length: 346, dtype: int64

### Safety & Security

In [257]:
infos(dfc, "Safety & Security")

Column name  :  Safety & Security
-----------------------------
Number of nulls  :  982
% of nulls       :  6.17%
Number of uniques:  4443
-----------------------------
Value Counts

NaN                                                                                                                                                                                                                                                                                                                                                               982
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                                      538
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                                                 480
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights                                                                                                                                275
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                           272
                                                                                                                                                                                                                                                                                                                                                                 ...
ABS,Central door lock,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag                                                                                                                                                                                                                                              1
ABS,Adaptive Cruise Control,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                 1
ABS,Adaptive Cruise Control,Alarm system,Central door lock,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights                                                1
ABS,Adaptive Cruise Control,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Power steering,Tire pressure monitoring system,Traction control                                                                                                                                                  1
ABS,Adaptive Cruise Control,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Fog lights,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,LED Headlights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traffic sign recognition      1
Name: Safety & Security, Length: 4444, dtype: int64

In [258]:
fill_mode2(dfc, "make_model", "body_type", "Safety & Security")

Number of NaN :  0
------------------
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                                      730
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                                                 480
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                           373
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights                                                                                                                                352
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                                                             306
                                                                                                                                                                                                                                                                                                                                                                 ...
ABS,Central door lock,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag                                                                                                                                                                                                                                              1
ABS,Adaptive Cruise Control,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                 1
ABS,Adaptive Cruise Control,Alarm system,Central door lock,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights                                                1
ABS,Adaptive Cruise Control,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Power steering,Tire pressure monitoring system,Traction control                                                                                                                                                  1
ABS,Adaptive Cruise Control,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Fog lights,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,LED Headlights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traffic sign recognition      1
Name: Safety & Security, Length: 4443, dtype: int64

## Emission_Class

In [259]:
infos(dfc, "Emission_Class")

Column name  :  Emission_Class
-----------------------------
Number of nulls  :  3628
% of nulls       :  22.79%
Number of uniques:  3
-----------------------------
Value Counts

Euro 6    12173
NaN        3628
Euro 5       78
Euro 4       40
Name: Emission_Class, dtype: int64

In [260]:
fill_mode2(dfc, "make_model", "body_type", "Emission_Class")

Number of NaN :  0
------------------
Euro 6    15799
Euro 5       78
Euro 4       42
Name: Emission_Class, dtype: int64

In [261]:
dfc.isna().sum()

make_model                  0
body_type                   0
vat                         0
Type                        1
Fuel                        0
Comfort & Convenience       0
Entertainment & Media       0
Extras                   2962
Safety & Security           0
Paint_Type                  0
Upholstery_type             0
Gearing_Type                0
Drive_chain              6858
Emission_Class              0
dtype: int64

## Drive_chain

In [262]:
infos(dfc, "Drive_chain")

Column name  :  Drive_chain
-----------------------------
Number of nulls  :  6858
% of nulls       :  43.08%
Number of uniques:  3
-----------------------------
Value Counts

front    8886
NaN      6858
4WD       171
rear        4
Name: Drive_chain, dtype: int64

In [263]:
fill_mode2(dfc, "make_model", "body_type", "Drive_chain")

Number of NaN :  0
------------------
front    15712
4WD        203
rear         4
Name: Drive_chain, dtype: int64

In [264]:
dfc.isna().sum()

make_model                  0
body_type                   0
vat                         0
Type                        1
Fuel                        0
Comfort & Convenience       0
Entertainment & Media       0
Extras                   2962
Safety & Security           0
Paint_Type                  0
Upholstery_type             0
Gearing_Type                0
Drive_chain                 0
Emission_Class              0
dtype: int64

### Extras

In [265]:
infos(dfc, "Extras")

Column name  :  Extras
-----------------------------
Number of nulls  :  2962
% of nulls       :  18.61%
Number of uniques:  659
-----------------------------
Value Counts

Alloy wheels                                                                                               3245
NaN                                                                                                        2962
Alloy wheels,Touch screen                                                                                   697
Alloy wheels,Voice Control                                                                                  577
Alloy wheels,Touch screen,Voice Control                                                                     541
                                                                                                           ...
Alloy wheels,Catalytic Converter,Shift paddles,Sport package,Sport seats,Sport suspension,Voice Control       1
Alloy wheels,Catalytic Converter,Roof rack,Sport package,Sport seats,Trailer hitch                            1
Alloy wheels,Catalytic Converter,Ski bag,Sport package,Voice Control                                          1
Catalytic Converter,Roof rack,Sport seats,Sport suspension                                                    1
Alloy wheels,Shift paddles,Ski bag,Sport seats,Sport suspension,Touch screen,Voice Control                    1
Name: Extras, Length: 660, dtype: int64

In [266]:
fill_mode2(dfc, "make_model", "body_type", "Extras")

Number of NaN :  0
------------------
Alloy wheels                                                                                               5794
Alloy wheels,Touch screen                                                                                   697
Roof rack                                                                                                   596
Alloy wheels,Voice Control                                                                                  582
Alloy wheels,Touch screen,Voice Control                                                                     544
                                                                                                           ...
Alloy wheels,Catalytic Converter,Shift paddles,Sport package,Sport seats,Sport suspension,Voice Control       1
Alloy wheels,Catalytic Converter,Roof rack,Sport package,Sport seats,Trailer hitch                            1
Alloy wheels,Catalytic Converter,Ski bag,Sport package,Voice Control                                          1
Catalytic Converter,Roof rack,Sport seats,Sport suspension                                                    1
Alloy wheels,Shift paddles,Ski bag,Sport seats,Sport suspension,Touch screen,Voice Control                    1
Name: Extras, Length: 659, dtype: int64

In [267]:
dfc.isna().sum()

make_model               0
body_type                0
vat                      0
Type                     1
Fuel                     0
Comfort & Convenience    0
Entertainment & Media    0
Extras                   0
Safety & Security        0
Paint_Type               0
Upholstery_type          0
Gearing_Type             0
Drive_chain              0
Emission_Class           0
dtype: int64

In [268]:
for i in dfc.columns:
    df[i] = dfc[i]

In [269]:
df.isna().sum()

make_model                  0
body_type                   0
price                       0
vat                         0
km                       1024
Type                        1
Fuel                        0
Comfort & Convenience       0
Entertainment & Media       0
Extras                      0
Safety & Security           0
Gears                    4712
Previous_Owners          6640
hp_kW                      88
Paint_Type                  0
Upholstery_type             0
Nr_of_Doors               212
Nr_of_Seats               977
Gearing_Type                0
Displacement_cc           496
Weight_kg                6974
Drive_chain                 0
cons_comb                2033
CO2_Emission             2436
Emission_Class              0
dtype: int64

## Handling with Numerical Features

In [270]:
df.sample(3).T

,1730,13230,15014
make_model,Audi A1,Renault Clio,Renault Espace
body_type,Sedans,Station wagon,Van
price,16950,14870,26990
vat,VAT deductible,VAT deductible,Non-Discount
km,20690.0,24473.0,2751.0
Type,Used,Used,Used
Fuel,Diesel,Benzine,Diesel
Comfort & Convenience,"Air conditioning,Armrest,Automatic climate con...","Air conditioning,Cruise control,Hill Holder,Le...","Air conditioning,Automatic climate control,Nav..."
Entertainment & Media,"Bluetooth,Hands-free equipment,On-board comput...","Bluetooth,Hands-free equipment,MP3,On-board co...","Bluetooth,Hands-free equipment,On-board comput..."
Extras,"Alloy wheels,Sport seats,Voice Control","Alloy wheels,Roof rack,Touch screen",Alloy wheels
Safety & Security,"ABS,Central door lock,Daytime running lights,D...","ABS,Central door lock,Daytime running lights,D...",Fog lights
Gears,5.0,NaN,NaN
Previous_Owners,1.0,NaN,NaN
hp_kW,66.0,87.0,118.0
Paint_Type,Metallic,Metallic,Metallic
Upholstery_type,Cloth,Cloth,Full leather
Nr_of_Doors,4.0,5.0,5.0
Nr_of_Seats,5.0,5.0,7.0
Gearing_Type,Manual,Automatic,Automatic
Displacement_cc,1422.0,1197.0,1598.0
Weight_kg,1165.0,1270.0,NaN
Drive_chain,front,front,front
cons_comb,3.8,5.4,4.6
CO2_Emission,99.0,120.0,120.0
Emission_Class,Euro 6,Euro 6,Euro 6

### Nr. of Doors

In [271]:
infos(df, "Nr_of_Doors")

Column name  :  Nr_of_Doors
-----------------------------
Number of nulls  :  212
% of nulls       :  1.33%
Number of uniques:  6
-----------------------------
Value Counts

5.0    11575
4.0     3079
3.0      832
2.0      219
NaN      212
1.0        1
7.0        1
Name: Nr_of_Doors, dtype: int64

In [272]:
df["Nr_of_Doors"].replace(1,np.nan, inplace=True)
df["Nr_of_Doors"].replace(7,np.nan, inplace=True)

In [273]:
infos(df, "Nr_of_Doors")

Column name  :  Nr_of_Doors
-----------------------------
Number of nulls  :  214
% of nulls       :  1.34%
Number of uniques:  4
-----------------------------
Value Counts

5.0    11575
4.0     3079
3.0      832
2.0      219
NaN      214
Name: Nr_of_Doors, dtype: int64

In [274]:
fill_mode(df, "body_type", "Nr_of_Doors")

Number of NaN : 0
---------------------
5.0    11788
4.0     3079
3.0      833
2.0      219
Name: Nr_of_Doors, dtype: int64

In [275]:
infos(df, "Nr_of_Doors")

Column name  :  Nr_of_Doors
-----------------------------
Number of nulls  :  0
% of nulls       :  0.0%
Number of uniques:  4
-----------------------------
Value Counts

5.0    11788
4.0     3079
3.0      833
2.0      219
Name: Nr_of_Doors, dtype: int64

### "Nr. of Seats"

In [276]:
infos(df, "Nr_of_Seats")

Column name  :  Nr_of_Seats
-----------------------------
Number of nulls  :  977
% of nulls       :  6.14%
Number of uniques:  6
-----------------------------
Value Counts

5.0    13336
4.0     1125
NaN      977
7.0      362
2.0      116
6.0        2
3.0        1
Name: Nr_of_Seats, dtype: int64

In [277]:
df["Nr_of_Seats"].replace(6,np.nan, inplace=True)
df["Nr_of_Seats"].replace(3,np.nan, inplace=True)
infos(df, "Nr_of_Seats")

Column name  :  Nr_of_Seats
-----------------------------
Number of nulls  :  980
% of nulls       :  6.16%
Number of uniques:  4
-----------------------------
Value Counts

5.0    13336
4.0     1125
NaN      980
7.0      362
2.0      116
Name: Nr_of_Seats, dtype: int64

In [278]:
fill_mode(df, "body_type", "Nr_of_Seats")

Number of NaN : 0
---------------------
5.0    14315
4.0     1126
7.0      362
2.0      116
Name: Nr_of_Seats, dtype: int64

In [279]:
df.isna().sum()

make_model                  0
body_type                   0
price                       0
vat                         0
km                       1024
Type                        1
Fuel                        0
Comfort & Convenience       0
Entertainment & Media       0
Extras                      0
Safety & Security           0
Gears                    4712
Previous_Owners          6640
hp_kW                      88
Paint_Type                  0
Upholstery_type             0
Nr_of_Doors                 0
Nr_of_Seats                 0
Gearing_Type                0
Displacement_cc           496
Weight_kg                6974
Drive_chain                 0
cons_comb                2033
CO2_Emission             2436
Emission_Class              0
dtype: int64

## km

In [280]:
infos(df, "km")

Column name  :  km
-----------------------------
Number of nulls  :  1024
% of nulls       :  6.43%
Number of uniques:  6689
-----------------------------
Value Counts

10.0       1045
NaN        1024
1.0         367
5.0         170
50.0        148
           ...
67469.0       1
43197.0       1
10027.0       1
35882.0       1
57.0          1
Name: km, Length: 6690, dtype: int64

In [281]:
fill_mode(df,  "body_type", "km")

Number of NaN : 0
---------------------
10.0       2045
1.0         367
5.0         170
50.0        148
100.0       139
           ...
67469.0       1
43197.0       1
10027.0       1
35882.0       1
57.0          1
Name: km, Length: 6689, dtype: int64

In [282]:
df.isna().sum()

make_model                  0
body_type                   0
price                       0
vat                         0
km                          0
Type                        1
Fuel                        0
Comfort & Convenience       0
Entertainment & Media       0
Extras                      0
Safety & Security           0
Gears                    4712
Previous_Owners          6640
hp_kW                      88
Paint_Type                  0
Upholstery_type             0
Nr_of_Doors                 0
Nr_of_Seats                 0
Gearing_Type                0
Displacement_cc           496
Weight_kg                6974
Drive_chain                 0
cons_comb                2033
CO2_Emission             2436
Emission_Class              0
dtype: int64

### Gears

In [283]:
infos(df, "Gears")

Column name  :  Gears
-----------------------------
Number of nulls  :  4712
% of nulls       :  29.6%
Number of uniques:  10
-----------------------------
Value Counts

6.0     5822
NaN     4712
5.0     3239
7.0     1908
8.0      224
9.0        6
1.0        2
3.0        2
4.0        2
2.0        1
50.0       1
Name: Gears, dtype: int64

In [284]:
df.loc[(df["Gears"]<5)|(df["Gears"]>8), "Gears"] = np.nan
infos(df, "Gears")

Column name  :  Gears
-----------------------------
Number of nulls  :  4726
% of nulls       :  29.69%
Number of uniques:  4
-----------------------------
Value Counts

6.0    5822
NaN    4726
5.0    3239
7.0    1908
8.0     224
Name: Gears, dtype: int64

In [285]:
fill_mode(df,  "body_type", "Gears")

Number of NaN : 0
---------------------
6.0    9288
5.0    4499
7.0    1908
8.0     224
Name: Gears, dtype: int64

In [286]:
df.isna().sum()

make_model                  0
body_type                   0
price                       0
vat                         0
km                          0
Type                        1
Fuel                        0
Comfort & Convenience       0
Entertainment & Media       0
Extras                      0
Safety & Security           0
Gears                       0
Previous_Owners          6640
hp_kW                      88
Paint_Type                  0
Upholstery_type             0
Nr_of_Doors                 0
Nr_of_Seats                 0
Gearing_Type                0
Displacement_cc           496
Weight_kg                6974
Drive_chain                 0
cons_comb                2033
CO2_Emission             2436
Emission_Class              0
dtype: int64

### Weight_kg

In [287]:
infos(df, "Weight_kg")

Column name  :  Weight_kg
-----------------------------
Number of nulls  :  6974
% of nulls       :  43.81%
Number of uniques:  434
-----------------------------
Value Counts

NaN       6974
1163.0     574
1360.0     356
1165.0     301
1335.0     242
          ...
1960.0       1
1258.0       1
1167.0       1
1331.0       1
2037.0       1
Name: Weight_kg, Length: 435, dtype: int64

In [288]:
df["Weight_kg"].describe()

count    8945.000000
mean     1351.106540
std       220.661532
min         1.000000
25%      1165.000000
50%      1288.000000
75%      1487.000000
max      2471.000000
Name: Weight_kg, dtype: float64

In [289]:
df["Weight_kg"].sort_values().head()

8355       1.0
12779      1.0
1143     102.0
8857     840.0
14313    900.0
Name: Weight_kg, dtype: float64

In [290]:
df.loc[df["Weight_kg"]<800, "Weight_kg"] = np.nan
df["Weight_kg"].describe()

count    8942.000000
mean     1351.548200
std       219.375045
min       840.000000
25%      1166.000000
50%      1288.000000
75%      1487.000000
max      2471.000000
Name: Weight_kg, dtype: float64

In [291]:
fill_mean(df, "make_model", "body_type", "Weight_kg")

Number of NaN :  0
------------------
1395.477301    991
1624.584882    855
1175.411263    733
1397.233846    635
1259.453175    622
              ...
1258.000000      1
1167.000000      1
1331.000000      1
1132.000000      1
2037.000000      1
Name: Weight_kg, Length: 460, dtype: int64

###  Displacement_cc

In [292]:
infos(df, "Displacement_cc")

Column name  :  Displacement_cc
-----------------------------
Number of nulls  :  496
% of nulls       :  3.12%
Number of uniques:  77
-----------------------------
Value Counts

1598.0    4761
999.0     2438
1398.0    1314
1399.0     749
1229.0     677
          ...
122.0        1
1198.0       1
1195.0       1
2967.0       1
1800.0       1
Name: Displacement_cc, Length: 78, dtype: int64

In [293]:
df["Displacement_cc"].describe()

count    15423.000000
mean      1423.540881
std        333.530658
min          1.000000
25%       1229.000000
50%       1461.000000
75%       1598.000000
max      16000.000000
Name: Displacement_cc, dtype: float64

In [294]:
df["Displacement_cc"].sort_values().head(60)

12796      1.0
12768      1.0
13904      1.0
12823      1.0
12790      1.0
14319      1.0
14284      1.0
12849      1.0
12848      1.0
12781      1.0
12786      1.0
12467      1.0
14328      1.0
14326      1.0
12835      1.0
12750      1.0
12783      1.0
14314      1.0
14325      1.0
14315      1.0
14324      1.0
14322      1.0
14321      1.0
14327      1.0
12473      1.0
14320      1.0
12499      1.0
12484      1.0
12815      1.0
12554      1.0
12798      1.0
12769      1.0
12670      1.0
12604      1.0
12501      1.0
12800      1.0
10559      2.0
14198      2.0
13912     54.0
10194    122.0
7812     139.0
7810     139.0
7811     139.0
7809     139.0
8128     140.0
15578    160.0
15575    160.0
15576    160.0
15577    160.0
15579    160.0
15574    160.0
13653    890.0
14749    898.0
14725    898.0
14761    898.0
14724    898.0
14762    898.0
14723    898.0
14722    898.0
14763    898.0
Name: Displacement_cc, dtype: float64

In [295]:
df.loc[df["Displacement_cc"]<898, "Displacement_cc"] = np.nan
df["Displacement_cc"].describe()

count    15371.000000
mean      1428.177022
std        324.321160
min        898.000000
25%       1229.000000
50%       1461.000000
75%       1598.000000
max      16000.000000
Name: Displacement_cc, dtype: float64

In [296]:
fill_mean(df, "make_model", "body_type", "Displacement_cc")

Number of NaN :  0
------------------
1598.0     4761
999.0      2438
1398.0     1314
1399.0      749
1229.0      677
           ...
1195.0        1
2967.0        1
1856.0        1
16000.0       1
1800.0        1
Name: Displacement_cc, Length: 94, dtype: int64

In [297]:
df.isna().sum()

make_model                  0
body_type                   0
price                       0
vat                         0
km                          0
Type                        1
Fuel                        0
Comfort & Convenience       0
Entertainment & Media       0
Extras                      0
Safety & Security           0
Gears                       0
Previous_Owners          6640
hp_kW                      88
Paint_Type                  0
Upholstery_type             0
Nr_of_Doors                 0
Nr_of_Seats                 0
Gearing_Type                0
Displacement_cc             0
Weight_kg                   0
Drive_chain                 0
cons_comb                2033
CO2_Emission             2436
Emission_Class              0
dtype: int64

## CO2_Emission

In [298]:
infos(df, "CO2_Emission")

Column name  :  CO2_Emission
-----------------------------
Number of nulls  :  2436
% of nulls       :  15.3%
Number of uniques:  122
-----------------------------
Value Counts

NaN       2436
120.0      740
99.0       545
97.0       537
104.0      501
          ...
14.0         1
1060.0       1
51.0         1
165.0        1
193.0        1
Name: CO2_Emission, Length: 123, dtype: int64

In [299]:
df["CO2_Emission"].describe()

count    13483.000000
mean       123.739672
std        269.952395
min          0.000000
25%        104.000000
50%        116.000000
75%        129.000000
max      14457.000000
Name: CO2_Emission, dtype: float64

In [300]:
df["CO2_Emission"].sort_values().head(18)

10566     0.0
8217      0.0
14902     1.0
11553     5.0
13008     5.0
6397      5.0
8110     14.0
3612     36.0
3617     36.0
3615     36.0
12547    45.0
9798     51.0
7857     80.0
8874     82.0
13861    82.0
8585     82.0
8904     82.0
8872     82.0
Name: CO2_Emission, dtype: float64

In [301]:
df.loc[df["CO2_Emission"]<70, "CO2_Emission"] = np.nan
df["CO2_Emission"].describe()

count    13471.000000
mean       123.832529
std        270.054096
min         80.000000
25%        104.000000
50%        117.000000
75%        129.000000
max      14457.000000
Name: CO2_Emission, dtype: float64

In [302]:
fill_mean(df, "make_model", "body_type", "CO2_Emission")

Number of NaN :  0
------------------
120.000000    740
99.000000     545
97.000000     538
104.000000    501
102.000000    477
             ...
184.000000      1
112.166667      1
239.000000      1
165.000000      1
193.000000      1
Name: CO2_Emission, Length: 144, dtype: int64

## hp_kW

In [303]:
infos(df, "hp_kW")

Column name  :  hp_kW
-----------------------------
Number of nulls  :  88
% of nulls       :  0.55%
Number of uniques:  80
-----------------------------
Value Counts

85.0     2542
66.0     2122
81.0     1402
100.0    1308
110.0    1112
         ...
84.0        1
195.0       1
44.0        1
239.0       1
9.0         1
Name: hp_kW, Length: 81, dtype: int64

In [304]:
df["hp_kW"].describe()

count    15831.000000
mean        88.367696
std         26.835135
min          1.000000
25%         66.000000
50%         85.000000
75%        101.000000
max        294.000000
Name: hp_kW, dtype: float64

In [305]:
df["hp_kW"].sort_values().head(18)

9285     1.0
10579    1.0
10468    1.0
9289     1.0
9288     1.0
7019     1.0
7018     1.0
7016     1.0
7014     1.0
6946     1.0
9290     1.0
6005     1.0
9292     1.0
6034     1.0
9287     1.0
9299     1.0
15155    1.0
15156    1.0
Name: hp_kW, dtype: float64

In [306]:
df.loc[df["hp_kW"]<50, "hp_kW"] = np.nan
df["hp_kW"].describe()

count    15806.000000
mean        88.497533
std         26.651793
min         51.000000
25%         66.000000
50%         85.000000
75%        101.000000
max        294.000000
Name: hp_kW, dtype: float64

In [307]:
fill_mean(df, "make_model", "body_type", "hp_kW")

Number of NaN :  0
------------------
85.000000     2542
66.000000     2122
81.000000     1402
100.000000    1308
110.000000    1112
              ...
64.482143        1
132.000000       1
89.972376        1
133.000000       1
123.000000       1
Name: hp_kW, Length: 91, dtype: int64

### cons_comb

In [308]:
infos(df, "cons_comb")

Column name  :  cons_comb
-----------------------------
Number of nulls  :  2033
% of nulls       :  12.77%
Number of uniques:  72
-----------------------------
Value Counts

NaN     2033
5.4      770
3.9      733
4.0      713
5.1      657
        ...
33.0       1
50.0       1
1.0        1
46.0       1
11.0       1
Name: cons_comb, Length: 73, dtype: int64

In [309]:
infos(df, "cons_comb")

Column name  :  cons_comb
-----------------------------
Number of nulls  :  2033
% of nulls       :  12.77%
Number of uniques:  72
-----------------------------
Value Counts

NaN     2033
5.4      770
3.9      733
4.0      713
5.1      657
        ...
33.0       1
50.0       1
1.0        1
46.0       1
11.0       1
Name: cons_comb, Length: 73, dtype: int64

In [310]:
df["cons_comb"].describe()

count    13886.000000
mean         4.895549
std          1.635382
min          0.000000
25%          4.100000
50%          4.800000
75%          5.500000
max         55.000000
Name: cons_comb, dtype: float64

In [311]:
df["cons_comb"].sort_values().head(18)

8217     0.0
10566    0.0
14902    1.0
13678    1.2
3617     1.6
3615     1.6
3612     1.6
6240     3.0
13577    3.0
8036     3.0
8039     3.0
4281     3.0
13558    3.0
6874     3.0
6873     3.0
8048     3.0
13545    3.0
4362     3.0
Name: cons_comb, dtype: float64

In [312]:
df["cons_comb"].sort_values(ascending=False).head(20)

11954    55.0
13179    54.0
2194     51.0
2196     51.0
2210     51.0
2237     51.0
14584    50.0
15067    46.0
500      43.0
4102     40.0
4089     40.0
4556     38.0
4558     38.0
14530    33.0
14131    32.0
535      13.8
10513    11.0
14909    10.0
14925    10.0
13894    10.0
Name: cons_comb, dtype: float64

In [313]:
df.loc[df["cons_comb"]<3, "cons_comb"] = np.nan
df.loc[df["cons_comb"]>14, "cons_comb"] = np.nan
df["cons_comb"].describe()

count    13864.000000
mean         4.854270
std          0.938913
min          3.000000
25%          4.100000
50%          4.800000
75%          5.400000
max         13.800000
Name: cons_comb, dtype: float64

In [314]:
fill_mean(df, "make_model", "body_type", "cons_comb")

Number of NaN :  0
------------------
5.400     770
3.900     733
4.000     713
5.100     657
4.400     623
         ...
11.000      1
7.500       1
4.550       1
9.100       1
4.345       1
Name: cons_comb, Length: 84, dtype: int64

In [315]:
df.isna().sum()

make_model                  0
body_type                   0
price                       0
vat                         0
km                          0
Type                        1
Fuel                        0
Comfort & Convenience       0
Entertainment & Media       0
Extras                      0
Safety & Security           0
Gears                       0
Previous_Owners          6640
hp_kW                       0
Paint_Type                  0
Upholstery_type             0
Nr_of_Doors                 0
Nr_of_Seats                 0
Gearing_Type                0
Displacement_cc             0
Weight_kg                   0
Drive_chain                 0
cons_comb                   0
CO2_Emission                0
Emission_Class              0
dtype: int64

### Previous_Owners

In [316]:
infos(df, "Previous_Owners")

Column name  :  Previous_Owners
-----------------------------
Number of nulls  :  6640
% of nulls       :  41.71%
Number of uniques:  5
-----------------------------
Value Counts

1.0    8294
NaN    6640
2.0     778
0.0     188
3.0      17
4.0       2
Name: Previous_Owners, dtype: int64

In [317]:
df.drop("Previous_Owners", axis=1, inplace=True)

## Final

In [318]:
df.shape

(15919, 24)

In [319]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   make_model             15919 non-null  object
 1   body_type              15919 non-null  object
 2   price                  15919 non-null  int64
 3   vat                    15919 non-null  object
 4   km                     15919 non-null  float64
 5   Type                   15918 non-null  object
 6   Fuel                   15919 non-null  object
 7   Comfort & Convenience  15919 non-null  object
 8   Entertainment & Media  15919 non-null  object
 9   Extras                 15919 non-null  object
 10  Safety & Security      15919 non-null  object
 11  Gears                  15919 non-null  float64
 12  hp_kW                  15919 non-null  float64
 13  Paint_Type             15919 non-null  object
 14  Upholstery_type        15919 non-null  object
 15  Nr_of_Doors            15919 non-null  float64
 16  Nr_of_Seats            15919 non-null  float64
 17  Gearing_Type           15919 non-null  object
 18  Displacement_cc        15919 non-null  float64
 19  Weight_kg              15919 non-null  float64
 20  Drive_chain            15919 non-null  object
 21  cons_comb              15919 non-null  float64
 22  CO2_Emission           15919 non-null  float64
 23  Emission_Class         15919 non-null  object
dtypes: float64(9), int64(1), object(14)
memory usage: 2.9+ MB

In [320]:
df.to_csv("scout_car_filled.csv", index=False)